.road-sign-popover {
  opacity: 0.3;

  &.active {
    opacity: 1;

    --tx: 0;
    --ty: 0;

    &.bottom {
      --ty: -3px;
    }

    &.top {
      --ty: 3px;
    }

    &.left {
      --tx: -3px;
    }

    &.right {
      --tx: 3px;
    }

    @keyframes wiggle {
      0% {
        transform: translate(0, 0);
      }

      50% {
        transform: translate(var(--tx), var(--ty));
      }

      100% {
        transform: translate(0, 0);
      }
    }

    &:not(:hover) {
      animation: wiggle 1s linear infinite;
    }
  }
}
